<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul{
        padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }
    </style>
</th:block>

<main layout:fragment="content">
    <h1>금학기 성적 조회</h1>
    <div class="split--div"></div>

            <div>
                <h4 style="font-weight: 600">과목별 성적</h4>
                <div class="table-div">
                <table border="1" class="sub--list--table">
                    <thead>
                    <tr>
                        <th>연도</th>
                        <th>학기</th>
                        <th>과목번호</th>
                        <th>과목명</th>
                        <th>강의구분</th>
                        <th>이수학점</th>
                        <th>성적</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr th:each="grade :${grades}">
                            <td>[[${grade.course.syllabus.year}]]년</td>
                            <td>[[${grade.course.syllabus.semester}]]학기</td>
                            <td>[[${grade.course.id}]]</td>
                            <td class="sub--list--name">[[${grade.course.syllabus.courseName}]]</td>
                            <td>[[${grade.course.syllabus.courseType.getDescription}]]</td>
                            <td>[[${grade.course.syllabus.credit}]]</td>
                            <td th:if="${grade.convertedScore >= 95}">A+</td>
                            <td th:if="${grade.convertedScore >= 90}">A</td>
                            <td th:if="${grade.convertedScore < 90 and grade.convertedScore >= 85}">B+</td>
                            <td th:if="${grade.convertedScore < 85 and grade.convertedScore >= 80}">B</td>
                            <td th:if="${grade.convertedScore < 80 and grade.convertedScore >= 75}">C+</td>
                            <td th:if="${grade.convertedScore < 75 and grade.convertedScore >= 70}">C</td>
                            <td th:if="${grade.convertedScore < 70 and grade.convertedScore >= 65}">D+</td>
                            <td th:if="${grade.convertedScore < 65 and grade.convertedScore >= 60}">D</td>
                            <td th:if="${grade.convertedScore < 60}">F</td>
                        </tr>

                    </tbody>
                </table>
                    </div>
            </div>
            <hr>
            <br>
            <div class="table-div">
                <h4 style="font-weight: 600">누계 성적</h4>
                <table border="1" class="sub--list--table">
                    <thead>
                    <tr>
                        <th>연도</th>
                        <th>학기</th>
                        <th>신청학점</th>
                        <th>취득학점</th>
                        <th>평점평균</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>${mygrade.subYear}년</td>
                        <td>${mygrade.semester}학기</td>
                        <td>${mygrade.sumGrades}</td>
                        <td>${mygrade.myGrades}</td>
                        <td>${mygrade.average()}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p th:unless="${grades}"class="no--list--p">강의 신청 및 수강 이력 확인 바랍니다.</p>





</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if(errorMessage != null || errorMessage == "") alert(errorMessage);




    </script>
</th:block>

</html>
