<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEOHA UNIVERSITY</title>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- 공통으로 사용할 CSS -->

    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">

    <!-- 파비콘 -->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/images/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/images/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/main_page.css}" />

    <!-- 각 페이지의 CSS가 작성될 위치 지정 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>
    <div class="container-scroller">

        <div th:replace="~{fragments/header :: header}"></div>

        <div class="page-body-wrapper">

            <div th:replace="~{fragments/sidebar :: sidebar}"></div>

            <div class="main-panel">
                <div layout:fragment="content" class="content" id="content"></div>

                <div th:replace="~{fragments/footer :: footer}"></div>
            </div>
        </div>

    </div>

    <!-- 공통으로 사용할 JS  -->
    <script th:src="@{/vendors/base/vendor.bundle.base.js}"></script>

    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        function refreshHeader() {
            $.ajax({
                url: '/header-data',
                method: 'GET',
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(data) {
                    $('#header').replaceWith(data); // 헤더를 새로고침된 데이터로 업데이트

                    // 헤더를 새로고침 하면서 사라진 이벤트 재등록
                    const body = $('body');

                    $('[data-toggle="offcanvas"]').on("click", function() {
                      $('.sidebar-offcanvas').toggleClass('active')
                    });

                    $('[data-toggle="minimize"]').on("click", function() {
                      if ((body.hasClass('sidebar-toggle-display')) || (body.hasClass('sidebar-absolute'))) {
                        body.toggleClass('sidebar-hidden');
                      } else {
                        body.toggleClass('sidebar-icon-only');
                      }
                    });
                },
                error: function(error) {
                    console.error('Failed to refresh header', error);
                }
            });
        }

        function openModal(messageId) {
            // 안읽음 -> 읽음 상태 변경
            $.ajax({
                url: "/changeMessageStatus/" + messageId,
                method: "POST",
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(data) {

                    refreshHeader(); // 헤더 갱신

                    // 모달 생성
                    var modal = $("<div></div>");
                    modal.addClass("modal fade").attr('tabindex', '-1').attr('role', 'dialog')
                         .attr('aria-hidden', 'true').attr('id', 'modal-' + data.id);

                    modal.html(
                    `<div class="modal-dialog">` +
                        `<div class="modal-content">` +
                            `<div class="modal-header" style="border:none; justify-content:center;">` +
                                `<h1 style="font-weight:600; margin-bottom: -6px; font-size: 30px; margin-top: 10px;">메시지</h1>` +
                            `</div>` +
                            `<div class="modal-body">` +
                                `<table class="table--container table">` +
                                    `<tr>` +
                                        `<td>제목</td>` +
                                        `<td>${data.title}</td>` +
                                    `</tr>` +
                                    `<tr>` +
                                        `<td>보낸이</td>` +
                                        `<td>${data.createdBy.name}</td>` +
                                    `</tr>` +
                                    `<tr>` +
                                        `<td>내용</td>` +
                                        `<td style="white-space: break-spaces;">${data.content}</td>` +
                                    `</tr>` +
                                `</table>` +
                            `</div>` +
                            `<div class="modal-footer" style="border:none;">` +
                                `<button type="button" id="message-close-btn" class="btn btn-secondary" onclick="$('#modal-${data.id}').modal('hide');">닫기</button>` +
                            `</div>` +
                        `</div>` +
                    `</div>`);

                    $('#content').append(modal);

                    // 모달 띄우기
                    $(`#modal-${data.id}`).modal('show');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });
        }

        // 헤더를 주기적(2분마다)으로 리프레쉬
        setInterval(refreshHeader, 120000);
    </script>

    <!-- 각 페이지의 JS가 작성될 위치 지정 -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>