<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul{
        padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }
    </style>
</th:block>

<main layout:fragment="content">
    <th:block th:if="${not students.content.empty}">
        <h1>[[${students.content[0].course.syllabus.courseName}]] 학생 리스트 조회</h1>
        <div class="split--div"></div>
        <div class="table-div">
        <table>
            <thead>
            <tr>
                <th>학생 번호</th>
                <th>이름</th>
                <th>소속</th>
                <th>출석</th>
                <th>지각</th>
                <th>결석</th>
            </tr>
            <tbody>
            <th:block th:each="student : ${students.content}">
                <tr>
                    <td>[[${student.student.id}]]</td>
                    <td>[[${student.student.name}]]</td>
                    <td>[[${student.student.major.title}]]</td>
                    <td><a><i class="fa-solid fa-o"></i></a></td>
                    <td><i class="fa-solid fa-check"></i></a></td>
                    <td><a><i class="fa-solid fa-x"></i></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        </div>
        <div class="pagination" th:with="start=${(students.number / maxPage) * maxPage + 1},
                                     end=${(students.totalPages == 0) ? 1 : (start + (maxPage - 1) < students.totalPages ? start + (maxPage - 1) : students.totalPages)}"
             aria-label="Page navigation example">
            <ul>
                <li>
                    <a href="javascript:goToFirstPage()"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li th:classappend="${students.first} ? 'disabled' : ''"
                    th:onclick="'javascript:page(' + ${students.number - 1} +')'"
                >
                    <a  ><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${students.number eq page - 1} ? 'page-active' : 'page'"
                >
                    <a th:onclick="'javascript:page(' + ${students.number} +')'" th:text="${page}"></a>
                </li>
                <li th:classappend="${students.last} ? 'disabled' : ''"
                    th:onclick="'javascript:page(' + ${students.number + 1} +')'"
                >
                    <a ><i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li>
                    <a href="javascript:goToLastPage()"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </div>
    </th:block>

    <p th:if="${students.content.empty}" class="no--list--p">해당 강의를 수강하는 학생이 존재하지 않습니다.</p>

</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if(errorMessage != null || errorMessage == "") alert(errorMessage);

        function page(page) {
            // 페이지 이동
            location.href = "/professors/course/" + [[${students.content[0].course.id}]] + "/" + page;
        }

        function goToFirstPage() {
            page(0);
        }

        function goToLastPage() {
            var totalPages = [[${students.totalPages}]];
            page(totalPages - 1);
        }


    </script>
</th:block>

</html>
