<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul{
        padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }
    </style>
</th:block>

<main layout:fragment="content">
    <th:block th:if="${not enrolls.content.empty}">
        <h1>[[${enrolls.content[0].course.syllabus.courseName}]] 학생 리스트 조회</h1>
        <div class="split--div"></div>
        <div class="table-div">
        <table>
            <thead>
            <tr>
                <th>학생 번호</th>
                <th>이름</th>
                <th>소속</th>
                <th>출석</th>
                <th>지각</th>
                <th>결석</th>
            </tr>
            <tbody>
            <th:block th:each="enroll : ${enrolls.content}">
                <tr>
                    <td>[[${enroll.student.id}]]</td>
                    <td>[[${enroll.student.name}]]</td>
                    <td>[[${enroll.student.major.title}]]</td>
                    <td th:if="${enroll.attendances.size == 0}" th:each="attendance : ${enroll.attendances}">
                        <div>
                            <td th:id="'present-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'PRESENT')"><i
                                        class="fa-solid fa-o"></i></a>
                            </td>
                            <td th:id="'late-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'LATE')"><i
                                        class="fa-solid fa-check"></i></a>
                            </td>
                            <td th:id="'absent-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'ABSENT')"><i
                                        class="fa-solid fa-x"></i></a>
                            </td>
                        </div>
                    <td th:unless="${enroll.attendances.size == 0}" th:each="attendance : ${enroll.attendances}">
                        <div>
                            <td th:id="'present-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'PRESENT')"><i
                                        class="fa-solid fa-o"></i></a>
                            </td>
                            <td th:id="'late-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'LATE')"><i
                                        class="fa-solid fa-check"></i></a>
                            </td>
                            <td th:id="'absent-'+${enroll.student.id}">
                                <a href="javascript:void(0);"
                                   th:onclick="addAttendance([[${enroll.student.id}]],[[${enroll.course.id}]], 'ABSENT')"><i
                                        class="fa-solid fa-x"></i></a>
                            </td>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        </div>
        <div class="pagination" th:with="start=${(enrolls.number / maxPage) * maxPage + 1},
                                     end=${(enrolls.totalPages == 0) ? 1 : (start + (maxPage - 1) < enrolls.totalPages ? start + (maxPage - 1) : enrolls.totalPages)}"
             aria-label="Page navigation example">
            <ul>
                <li>
                    <a href="javascript:goToFirstPage()"><i class="fa-solid fa-angles-left"></i></a>
                </li>
                <li th:classappend="${enrolls.first} ? 'disabled' : ''"
                    th:onclick="'javascript:page(' + ${enrolls.number - 1} +')'"
                >
                    <a  ><i class="fa-solid fa-angle-left"></i></a>
                </li>
                <li th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${enrolls.number eq page - 1} ? 'page-active' : 'page'"
                >
                    <a th:onclick="'javascript:page(' + ${enrolls.number} +')'" th:text="${page}"></a>
                </li>
                <li th:classappend="${enrolls.last} ? 'disabled' : ''"
                    th:onclick="'javascript:page(' + ${enrolls.number + 1} +')'"
                >
                    <a ><i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li>
                    <a href="javascript:goToLastPage()"><i class="fa-solid fa-angles-right"></i></a>
                </li>
            </ul>
        </div>
    </th:block>

    <p th:if="${enrolls.content.empty}" class="no--list--p">해당 강의를 수강하는 학생이 존재하지 않습니다.</p>

</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
    if(errorMessage != null || errorMessage == "") alert(errorMessage);

    function page(page) {
        // 페이지 이동
        location.href = "/professors/checkAttendanceStudent/" + [[${enrolls.content[0].course.id}]] + "/" + page;
    }

    function goToFirstPage() {
        page(0);
    }

    function goToLastPage() {
        var totalPages = [[${enrolls.totalPages}]];
        page(totalPages - 1);
    }

    function getCsrfToken() {
        return $("meta[name='_csrf']").attr("content");
    }

    function getCsrfHeader() {
        return $("meta[name='_csrf_header']").attr("content");
    }

    function addAttendance(studentId, courseId, status) {
        var urlParams = new URLSearchParams(window.location.search);
        var week = urlParams.get('week');
        var day = urlParams.get('day');
        var jsonData = JSON.stringify({ studentId: studentId, courseId: courseId, status: status, week: week, day: day });
        console.log(jsonData);

        $.ajax({
            url: '/professors/attendance/add',
            type: 'POST',
            dataType: 'text',
            contentType: 'application/json',
            data: jsonData,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(getCsrfHeader(), getCsrfToken());
            },
            success: function(response) {
                    console.log(response)



                    // 출석 상태에 따른 변경


                if (status === 'PRESENT') {
                    document.getElementById("present-" + studentId).innerHTML = "";
                    document.getElementById("present-" + studentId).appendChild(messageElement);
                } else if (status === 'LATE') {
                    document.getElementById("late-" + studentId).innerHTML = "";
                    document.getElementById("late-" + studentId).appendChild(messageElement);
                } else if (status === 'ABSENT') {
                    document.getElementById("absent-" + studentId).innerHTML = "";
                    document.getElementById("absent-" + studentId).appendChild(messageElement);
                }
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);

                alert('출석 체크 오류: ' + xhr.responseText);
            }
        });
    }

    </script>
</th:block>

</html>
