<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul {
            padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }
        @media screen and (max-width: 630px) {
                table th:nth-child(1), /* 강의코드 */
                table tbody tr td:nth-child(1) {
                    display: none;
                }
        }
          td ul li a:hover {
                font-weight: bolder !important;
                color: black !important;
                text-decoration: underline !important;
                cursor:pointer !important;
            }
    </style>
</th:block>

<main layout:fragment="content">
    <h1>출석체크</h1>
    <div class="split--div"></div>
    <div class="sub--filter" style="display:flex; justify-content:space-between">
        <form action="/professors/checkAttendance" method="get" th:object="${myCourseSearchDto}">
            <div style="margin-bottom: 10px;">
                <select class="input-search select-search" name="searchYear" id="yearSelect"></select>
                <select class="input-search select-search" name="searchSemester">
                    <option value="1" selected>1학기</option>
                    <option value="2">2학기</option>
                </select>
                <!-- 검색 버튼 -->
                <button class="btn btn-seoha" type="submit">조회</button>
            </div>
        </form>
        <div style="margin-bottom: 10px;">
            <select class="input-search select-search" name="week" id="weekSelect"></select>
        </div>
    </div>
    <h4 style="margin-bottom: 10px;">
        <span style="font-weight: 600;">강의 목록</span>
    </h4>
    <div class="table-div">
        <table class="fixed-cell">
            <tr>
                <th>강의코드</th>
                <th style="min-width: 72px;">강의명</th>
                <th style="min-width: 103px;">강의시간</th>
                <th>출석 체크</th>
            </tr>
            <tbody>
            <tr th:each="myCourse, status : ${myCourses}">
                <td th:text="${myCourse.id}"></td>
                <td th:text="${myCourse.syllabus.courseName}"></td>
                <td>
                    <ul th:each="courseTime, status : ${myCourse.syllabus.courseTimes}">
                        <li>
                            <a
                                    th:text="${courseTime.day.getDescription}+' '+${courseTime.startTime}+' ~ '+${courseTime.endTime}"
                                    th:onclick="checkAttendance([[${myCourse.id}]],[[${courseTime.day}]])">
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="d-flex justify-content-center sub--plan--view" style="margin: 0;">
                        <li style="height: 24px;"><a th:href="'/professors/checkAttendanceList/'+${myCourse.id}">조회</a>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination" th:with="start=${(myCourses.number / maxPage) * maxPage + 1},
                                     end=${(myCourses.totalPages == 0) ? 1 : (start + (maxPage - 1) < myCourses.totalPages ? start + (maxPage - 1) : myCourses.totalPages)}"
         aria-label="Page navigation example">
        <ul>
            <li>
                <a href="javascript:goToFirstPage()"><i class="fa-solid fa-angles-left"></i></a>
            </li>
            <li th:classappend="${myCourses.first} ? 'disabled' : ''"
                th:onclick="'javascript:page(' + ${myCourses.number - 1} +')'"
            >
                <a><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${myCourses.number eq page - 1} ? 'page-active' : 'page'"
            >
                <a th:text="${page}"></a>
            </li>
            <li th:classappend="${myCourses.last} ? 'disabled' : ''"
                th:onclick="'javascript:page(' + ${myCourses.number + 1} +')'"
            >
                <a><i class="fa-solid fa-angle-right"></i></a>
            </li>
            <li>
                <a href="javascript:goToLastPage()"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        </ul>
    </div>
</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
           if (errorMessage != null || errorMessage == "") alert(errorMessage);


           var currentYear = new Date().getFullYear();
           var selectElement = document.getElementById("weekSelect");
           var optionElement = document.getElementById("yearSelect");


           for (var i = 1; i <= 16; i++) {
               var option = document.createElement("option");
               option.value =  i;
               option.textContent = (i) + "주차";
               selectElement.appendChild(option);
           }
           for (var i = 0; i < 3; i++) {
               var option = document.createElement("option");
               option.value = currentYear + i;
               option.textContent = (currentYear + i) + "학년도";
               optionElement.appendChild(option);
           }

           function searchPage(page) {
               var searchYear = document.getElementById("yearSelect").value;
               var searchSemester = document.querySelector("select[name='searchSemester']").value;
               // 페이지 이동
               location.href = "/professors/checkAttendance/" + page
                   + "?searchYear=" + searchYear
                   + "&searchSemester=" + searchSemester;
           }

           function page(page) {
               var week = document.getElementById("weekSelect").value;

               // 페이지 이동
               location.href = "/professors/checkAttendance/" + page
                   + "?week=" + week;
                   fetchData(url);
           }
           function checkAttendance(courseId,day) {

              var week = document.getElementById("weekSelect").value;
               // 페이지 이동
               location.href = "/professors/checkAttendanceStudent/" + courseId
                   + "?week=" + week +"&day="+day;
                   fetchData(url);
           }

           function goToFirstPage() {
               var week = document.getElementById("weekSelect").value;

               page(0, week);
           }
              function fetchData(url) {
           fetch(url)
               .then(response => {
                   if (!response.ok) {
                       throw new Error('Network response was not ok');
                   }
                   return response.json();
               })
               .then(data => {

                   console.log('Success:', data);
                   // 필요한 DOM 업데이트 등을 수행
               })
               .catch(error => {
                   console.error('Error:', error);

               });
       }

           function goToLastPage() {
               var totalPages = [[${myCourses.totalPages}]];
              var week = document.getElementById("weekSelect").value;
               page(totalPages - 1, week);
           }
    </script>
</th:block>

</html>
