<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul{
        padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }
    </style>
</th:block>

<main layout:fragment="content">
    <h1 th:unless="${students.isEmpty()}" >[[${students[0].course.syllabus.courseName}]] 학생 리스트 조회</h1>
    <div class="split--div"></div>


    <table th:unless="${students.isEmpty()}"  border="1" class="sub--list--table">
        <thead>
        <tr>
            <th>학생 번호</th>
            <th>이름</th>
            <th>소속</th>
            <th>결석</th>
            <th>지각</th>
            <th>과제점수</th>
            <th>중간시험</th>
            <th>기말시험</th>
            <th>환산점수</th>
            <th>점수 기입</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="student , status:${students}">
            <td>[[${student.student.id}]]</td>
            <td>[[${student.student.name}]]</td>
            <td>[[${student.student.major.title}]]</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td><a th:href="'/professor/course/'+${student.course.id}+'/'+${student.student.id}">기입</a></td>
        </tr>

        </tbody>
    </table>


    <p th:if="${students.isEmpty()}" class="no--list--p">해당 강의를 수강하는 학생이 존재하지 않습니다.</p>


</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if(errorMessage != null || errorMessage == "") alert(errorMessage);

        // 현재 연도 구하기
        var currentYear = new Date().getFullYear();
        var selectElement = document.getElementById("yearSelect");

        // 현재 연도부터 그 이후 2개의 연도까지 옵션 추가
                for (var i = 0; i < 3; i++) {
                    var option = document.createElement("option");
                    option.value = currentYear + i;
                    option.textContent = (currentYear + i) + "학년도";
                    selectElement.appendChild(option);
                }
    </script>
</th:block>

</html>