<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        @media screen and (min-width: 1024px) {
            .input--box {
                width: 70%;
            }
        }
        ul {
            padding-left: 0;
        }
        .btn {
            height: 28px;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 8px; /* 버튼 아래 여백 조절 */
        }

        .fixed-cell p {
            margin: 0; /* 여백 제거 */
        }
        @media screen and (max-width: 730px) {
            table tr th:nth-child(4), /* 강의계획서 */
            table tbody tr td:nth-child(4) {
                display: none;
            }
        }
    </style>
</th:block>

<main layout:fragment="content">
    <h1>내 강의 조회</h1>
    <div class="split--div"></div>
    <div class="sub--filter">
        <form action="/professors/myCourse" method="get" th:object="${myCourseSearchDto}">
            <div style="margin-bottom: 10px;">
                <select class="input-search select-search" name="searchYear" id="yearSelect"></select>
                <select class="input-search select-search" name="searchSemester">
                    <option value="1" selected>1학기</option>
                    <option value="2">2학기</option>
                </select>
                <!-- 검색 버튼 -->
                <button class="btn btn-seoha" type="submit">조회</button>
            </div>
        </form>
    </div>
    <h4 style="margin-bottom: 10px;">
        <span style="font-weight: 600;">강의 목록</span>
    </h4>
    <div class="table-div fixed-cell">
        <table>
            <tr>
                <th style="min-width:122px">강의코드</th>
                <th class="content1 fixed-cell" style="min-width: 72px;">강의명</th>
                <th style="min-width: 143px;">강의시간</th>
                <th style="min-width:75px">강의계획서</th>
                <th style="min-width:75px">학생 목록</th>
            </tr>
            <tbody>
                <tr th:each="myCourse, status : ${myCourses}">
                    <td th:text="${myCourse.id}"></td>
                    <td class="fixed-cell" th:text="${myCourse.syllabus.courseName}"></td>
                    <td class="fixed-cell"><p th:each="courseTime, status : ${myCourse.syllabus.courseTimes}"
                       th:text="${courseTime.day.getDescription}+' '+${courseTime.startTime}+' ~ '+${courseTime.endTime}"></p></td>
                    <td>
                        <ul class="d-flex justify-content-center sub--plan--view" style="margin: 0;">
                            <li style="height: 24px;"><a th:href="'/course/syllabus/'+${myCourse.id}"
                                                     onclick="window.open(this.href, '_blank', 'width=1000, height=1000'); return false;">조회</a>
                        </ul>
                    </td>
                    <td>
                        <ul class="d-flex justify-content-center sub--plan--view" style="margin: 0;">
                            <li style="height: 24px;"><a th:href="'/professors/course/'+${myCourse.id}">조회</a>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination" th:with="start=${(myCourses.number / maxPage) * maxPage + 1},
                                     end=${(myCourses.totalPages == 0) ? 1 : (start + (maxPage - 1) < myCourses.totalPages ? start + (maxPage - 1) : myCourses.totalPages)}"
         aria-label="Page navigation example">
        <ul>
            <li>
                <a href="javascript:goToFirstPage()"><i class="fa-solid fa-angles-left"></i></a>
            </li>
            <li th:classappend="${myCourses.first} ? 'disabled' : ''"
                th:onclick="'javascript:page(' + ${myCourses.number - 1} +')'"
                >
                <a  ><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <li th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${myCourses.number eq page - 1} ? 'page-active' : 'page'"
                >
                <a th:text="${page}"></a>
            </li>
            <li th:classappend="${myCourses.last} ? 'disabled' : ''"
                th:onclick="'javascript:page(' + ${myCourses.number + 1} +')'"
                >
                <a ><i class="fa-solid fa-angle-right"></i></a>
            </li>
            <li>
                <a href="javascript:goToLastPage()"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        </ul>
    </div>
</main>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if (errorMessage != null || errorMessage == "") alert(errorMessage);

        // 현재 연도 구하기
        var currentYear = new Date().getFullYear();
        var selectElement = document.getElementById("yearSelect");

        // 현재 연도부터 그 이후 2개의 연도까지 옵션 추가
        for (var i = 0; i < 3; i++) {
            var option = document.createElement("option");
            option.value = currentYear + i;
            option.textContent = (currentYear + i) + "학년도";
            selectElement.appendChild(option);
        }

        function page(page) {
            var searchYear = document.getElementById("yearSelect").value;
            var searchSemester = document.querySelector("select[name='searchSemester']").value;
            // 페이지 이동
            location.href = "/professors/myCourse/" + page
                + "?searchYear=" + searchYear
                + "&searchSemester=" + searchSemester;
        }

        function goToFirstPage() {
            var searchYear = document.getElementById("yearSelect").value;
            var searchSemester = document.querySelector("select[name='searchSemester']").value;
            page(0, searchYear, searchSemester);
        }

        function goToLastPage() {
            var totalPages = [[${myCourses.totalPages}]];
            var searchYear = document.getElementById("yearSelect").value;
            var searchSemester = document.querySelector("select[name='searchSemester']").value;
            page(totalPages - 1, searchYear, searchSemester);
        }
    </script>
</th:block>

</html>
