<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <style>
        html {
            min-width: 580px;
        }

        @media screen and (min-width: 1380px) {
            .input--box, .type-form {
                width: 70%;
            }

            .selections {
                width: 77%;
            }

            .type-text {
                display: inline !important;
            }
        }

        @media screen and (max-width: 787px) {
            .table--container > tbody > tr:not(.nav-add_plan) > td:first-of-type{
                display: none;
            }

            .input--box::placeholder {
                opacity: 1 !important;
            }
        }

        .auto-resize {
            min-height: 50px; /* 최소 높이 */
            resize: none; /* 사용자가 크기 조정하지 못하게 함 */
            overflow: hidden; /* 스크롤 바 감추기 */
            line-height: 1.5; /* 줄 간격 설정 */
        }

        .selections > select {
            padding: 0.2rem;
            margin: 0.5rem;
            border: 1px solid #d2d1d1;
            color: #666666;
        }

        .input--box::placeholder {
            opacity: 0;
        }

        #weeklyPlan {
            transition: max-height 0.3s ease-out;
            max-height: 0;
            overflow: hidden;
        }
        #weeklyPlan.collapse {
            max-height: none; /* 축소되었을 때 요소가 사라지지 않도록 함 */
        }
    </style>
</th:block>

<main layout:fragment="content" id="drop_zone">
    <div class="card">
        <div class="card-body px-5 py-5">
            <h1>강의 계획서</h1>
            <div class="split--div"></div>

            <div id="progressWrapper" style="display: none;">
                <div id="progressBar" style="width: 0; height: 30px; background-color: blue;"></div>
            </div>

            <form name="syllabusForm" id="syllabusForm">
                <div class="selections" style="display: flex; justify-content: flex-end; padding: 0 1rem 1rem 0;">
                    <select name="year" id="yearSelect"></select>
                    <select name="semester">
                        <option value="1">1학기</option>
                        <option value="2">2학기</option>
                    </select>
                </div>

                <table class="table--container table">
                    <tr>
                        <td><label for="name">강좌명</label></td>
                        <td>
                            <input type="text" id="name" name="courseName" class="input--box" placeholder="강좌명"/>
                        </td>
                    </tr>
                    <tr>
                        <td><label>강의 시간</label></td>
                        <td>
                            <table class="table input--box">
                                <tr>
                                    <th>강의 요일</th>
                                    <th>시작 시간</th>
                                    <th>종료 시간</th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value="MON"> 월</input></td>
                                    <td><input class="input--box" type="time"/></td>
                                    <td><input class="input--box" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value="TUE"> 화</input></td>
                                    <td><input class="input--box" type="time"/></td>
                                    <td><input class="input--box" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value="WED"> 수</input></td>
                                    <td><input class="input--box" type="time"/></td>
                                    <td><input class="input--box" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value="THU"> 목</input></td>
                                    <td><input class="input--box" type="time"/></td>
                                    <td><input class="input--box" type="time"/></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" value="FRI"> 금</input></td>
                                    <td><input class="input--box" type="time"/></td>
                                    <td><input class="input--box" type="time"/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr class="dept-form">
                        <td><label th:for="type" style="min-width: 105px;">구분 / 학점 / 인원</label></td>
                        <td>
                            <div class="row type-form">
                                <div class="col-2" style="display: flex; align-items: center; line-height: 1px;">
                                    <input type="radio" name="type" value="MAJOR">&nbsp;전공</input>
                                </div>
                                <div class="col-2" style="display: flex; align-items: center; line-height: 1px;">
                                    <input type="radio" name="type" value="LIBERAL">&nbsp;교양</input>
                                </div>
                                <div class="col-4" style="display: flex; align-items: center;">
                                    <input class="input--box" type="number" name="credit" min="1" max="3">
                                    <span class="type-text" style="min-width: 26px;">학점</span>
                                </div>
                                <div class="col-4" style="display: flex; align-items: center;">
                                    <input type="number" id="capacity" name="capacity" class="input--box"/>
                                    <span class="type-text">명</span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="overview">수업 개요</label></td>
                        <td>
                            <textarea id="overview" name="overview" class="input--box auto-resize" placeholder="수업 개요"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="objective">강의 목표</label></td>
                        <td>
                            <textarea id="objective" name="objective" class="input--box auto-resize" placeholder="강의 목표"></textarea>
                        </td>
                    </tr>

                    <tr class="nav-add_plan">
                        <td colspan="2" style="text-align: -webkit-center;">
                            <a class="nav-link addWeeklyPlan collapsed" style="width: fit-content; cursor: pointer;">
                                주별 계획 추가 <span class="weekly-icon"><i class="mdi mdi-plus" style="font-size: larger;"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr id="weeklyPlan" class="collapse">
                        <td><label>주별 계획</label></td>
                        <td>
                            <table class="table input--box">
                                <tr>
                                    <th>주차</th>
                                    <th>내용</th>
                                </tr>
                                <tr th:each="i : ${#numbers.sequence(1, 16)}">
                                    <td th:text="${i} + '주차'" style="width: 100px;"></td>
                                    <td>
                                        <textarea class="input--box auto-resize" style="width: 100%;"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td><label th:for="textbook">수업 교재</label></td>
                        <td>
                            <input type="text" id="textbook" name="textbook" class="input--box" placeholder="수업 교재"/>
                        </td>
                    </tr>
                </table>
                <div class="button--container">
                    <button class="btn btn-seoha" type="button" onclick="beforeSubmit()">신청</button>
                </div>
            </form>
        </div>
    </div>
</main>

<<th:block layout:fragment="script">
    <script th:inline="javascript">
        var dropZone = document.getElementById('drop_zone');

        dropZone.addEventListener('dragover', function(e) {
            e.preventDefault();
            dropZone.style.backgroundColor = '#cbcbcb';
            dropZone.querySelectorAll('*').forEach(function(child) {
                child.style.backgroundColor = '#cbcbcb';
            });
        });

        dropZone.addEventListener('dragleave', function(e) {
            e.preventDefault();
            dropZone.style.backgroundColor = '';
            dropZone.querySelectorAll('*').forEach(function(child) {
                child.style.backgroundColor = '';
            });
        });

        dropZone.addEventListener('drop', function(e) {
            e.preventDefault();
            $('#syllabusForm').hide();
            dropZone.style.backgroundColor = '';
            dropZone.querySelectorAll('*').forEach(function(child) {
                child.style.backgroundColor = '';
            });

            var files = e.dataTransfer.files;
            if (files.length > 0) {
                var formData = new FormData();
                formData.append('file', files[0]);

                $.ajax({
                    url: '/professor/upload/syllabus',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    xhr: function() {
                        const xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                const percentComplete = evt.loaded / evt.total * 100;
                                $("#progressWrapper").show();
                                $("#progressBar").width(percentComplete + "%");
                                $("#status").html("Uploading: " + Math.round(percentComplete) + "%");
                            }
                        }, false);
                        return xhr;
                    },
                    success: function(response) {
                        $("#status").html("Upload Complete");
                        $('#syllabusForm').show();
                        $("#progressWrapper").hide();
                        alert(response);
                    },
                    error: function(xhr, status, error) {
                        $("#status").html("Upload Failed");
                        $('#syllabusForm').show();
                        $("#progressWrapper").hide();
                        alert(xhr.responseText);
                    }
                });
            }
        });

        // addWeeklyPlan 클릭 이벤트 리스너 등록
        document.querySelector('.addWeeklyPlan').addEventListener('click', function() {
            var weeklyPlan = document.getElementById('weeklyPlan');
            var isCollapsed = weeklyPlan.classList.contains('collapse');
            var icon = document.querySelector('.weekly-icon i');

            weeklyPlan.classList.toggle('collapse', !isCollapsed);
            icon.className = isCollapsed ? 'mdi mdi-minus' : 'mdi mdi-plus';
        });

        // auto-resize 클래스를 가진 textarea의 높이 자동 조절
        var lineHeight = parseInt($('.auto-resize').css('line-height'), 10);
        function adjustHeight() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
        $('textarea.auto-resize').on('input', adjustHeight);
        $('textarea.auto-resize').each(adjustHeight);

        // 현재 연도 구하기 및 select 요소에 옵션 추가
        var currentYear = new Date().getFullYear();
        var selectElement = document.getElementById("yearSelect");
        for (var i = 0; i < 3; i++) {
            var option = document.createElement("option");
            option.value = currentYear + i;
            option.textContent = (currentYear + i) + "학년도";
            selectElement.appendChild(option);
        }

        // CSRF 토큰 설정
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        // 폼 전송 전 데이터 처리
        function beforeSubmit() {
            const f = document.syllabusForm;
            var courseTimes = [];
            $('input[type="checkbox"]:checked').each(function() {
                var day = $(this).val().trim();
                var startTime = $(this).closest('tr').find('.input--box[type="time"]').eq(0).val();
                var endTime = $(this).closest('tr').find('.input--box[type="time"]').eq(1).val();
                courseTimes.push({ day: day, startTime: startTime, endTime: endTime });
            });

            var weeklyPlans = [];
            $('#weeklyPlan tr:not(:first)').each(function() {
                var week = parseInt($(this).find('td:first').text().replace('주차', ''));
                var content = $(this).find('td:last textarea').val();
                weeklyPlans.push({ week: week, content: content });
            });

            var paramData = {
                courseName: f.courseName.value,
                courseType: f.type.value ? f.type.value : null,
                credit: f.credit.value,
                overview: f.overview.value,
                objective: f.objective.value,
                textbook: f.textbook.value,
                capacity: f.capacity.value,
                year: f.year.value,
                semester: f.semester.value,
                courseTimes: courseTimes,
                weeklyPlans: weeklyPlans
            };

            // AJAX를 통한 데이터 전송
            $.ajax({
                url: '/professor/applyForSyllabus',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(paramData),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function(response) {
                    alert("강의 계획서가 등록되었습니다.");
                    location.reload();
                },
                error: function(jqXHR, status, error) {
                    alert(jqXHR.responseText);
                }
            });
        }
    </script>
</th:block>
</html>