<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/myInfo.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">

  <style>
    .input--box {
      border-color: transparent;
    }

    .card {
      padding-left: 20px;
      margin-top: 20px;
    }

    .btn-seoha {
      width: 250px;
    }

    .wrap {
      height: 43.55rem;
    }

    .radioInputDiv {
      margin-right: 20px;
    }

    .buter {
      margin-right: 20px;
    }

    .flex {
      display: flex;
    }

    @media screen and (max-width: 615px) {
      .flex {
        display: block;
      }

      .radioInputDiv {
        margin-bottom: 5px;
      }
    }
  </style>
</th:block>

<div layout:fragment="content" class="wrap">
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body px-5 py-5">
        <h1 style="font-weight:600">휴학신청</h1>
        <div class="split--div"></div>
        <form role="form" action="/break/write/new" method="post" name="breakForm" th:object="${member}">
          <table class="table--container table">
            <input type="hidden" name="student" id="student" th:value="*{id}">
            <tr>
              <td><label for="name">이름</label></td>
              <td><input type="text" th:value="*{name}" id="name" class="input--box" readonly /></td>
            </tr>
            <tr>
              <td><label for="birth" style="min-width:52px;">생년월일</label></td>
              <td><input type="text" th:value="*{birth}" id="birth" class="input--box" readonly /></td>
            </tr>
            <tr>
              <td><label for="address">주소</label></td>
              <td><input type="text" th:value="*{address}" id="address" class="input--box" readonly
                    style="width:100%;"></td>
            </tr>
            <tr>
              <td><label for="phone">전화번호</label></td>
              <td><input type="text" th:value="*{phone}" id="phone" class="input--box" readonly /></td>
            </tr>
            <tr>
              <td><label for="email">이메일</label></td>
              <td><input type="text" th:value="*{email}" id="email" class="input--box" readonly /></td>
            </tr>
            <tr>
              <td><label>기간</label></td>
              <td class="flex">
                <div style="display:flex;">
                  <select name="fromYear" id="fromYear" style="margin-right:5px;"></select>
                  <select name="fromSemester" id="fromSemester" style="margin-right:5px;">
                    <option value="1">1학기</option>
                    <option value="2">2학기</option>
                  </select>
                  <p class="buter" style="margin-bottom:0; place-content:center;">부터</p>
                </div>
                <div style="display:flex;">
                  <select name="toYear" id="toYear" style="margin-right:5px;"></select>
                  <select name="toSemester" id="toSemester" style="margin-right:5px;">
                    <option value="1">1학기</option>
                    <option value="2">2학기</option>
                  </select>
                  <p style="margin-right:20px; margin-bottom:0; place-content:center;">까지</p>
                </div>
              </td>
            </tr>
            <tr>
              <td><label th:for="reasonType">휴학구분</label></td>
              <td class="flex">
                <div class="radioInputDiv" style="display: flex; margin-right: 20px;">
                  <input type="radio" name="reasonType" value="OTHER">&nbsp;일반</input>
                </div>
                <div class="radioInputDiv" style="display: flex; margin-right: 20px;">
                  <input type="radio" name="reasonType" value="PARENTAL">&nbsp;임신·출산·육아</input>
                </div>
                <div class="radioInputDiv" style="display: flex; margin-right: 20px;">
                  <input type="radio" name="reasonType" value="MEDICAL">&nbsp;질병</input>
                </div>
                <div class="radioInputDiv" style="display: flex; margin-right: 20px;">
                  <input type="radio" name="reasonType" value="ENTREPRENEURSHIP">&nbsp;창업</input>
                </div>
                <div style="display: flex;">
                  <input type="radio" name="reasonType" value="MILITARY">&nbsp;군입대</input>
                </div>
              </td>
            </tr>
          </table>
          <div style="display:flex; place-content:center;">
            <button type="submit" style="margin-top:50px;" class="btn btn-seoha mb-3">신청</button>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
      var errorMessage = [[${errorMessage}]];
      if (errorMessage != null) alert(errorMessage);

      var currentYear = new Date().getFullYear();
      var fromYearSelect = document.getElementById("fromYear");
      var toYearSelect = document.getElementById("toYear");

      for (var i = 0; i < 3; i++) {
        var fromOption = document.createElement("option");
        fromOption.value = currentYear + i;
        fromOption.textContent = (currentYear + i) + "학년도";
        fromYearSelect.appendChild(fromOption);

        var toOption = document.createElement("option");
        toOption.value = currentYear + i;
        toOption.textContent = (currentYear + i) + "학년도";
        toYearSelect.appendChild(toOption);
      }

 // 이벤트 핸들러 추가
      document.querySelector('form[name="breakForm"]').addEventListener('submit', function(event) {
        // 시작 년도와 끝나는 년도 가져오기
        var fromYear = parseInt(document.getElementById("fromYear").value);
        var toYear = parseInt(document.getElementById("toYear").value);
        var fromSemester = parseInt(document.getElementById("fromSemester").value);
        var toSemester = parseInt(document.getElementById("toSemester").value);

        // 시작 년도가 끝나는 년도보다 클 경우에만 데이터를 제출
        if (fromYear < toYear || (fromYear === toYear && fromSemester <= toSemester)) {
          // 유효한 경우에만 submit
          return true;
        } else {
          // 비유효한 경우에는 submit을 막고 경고 메시지를 표시
          alert("시작 학기는 종료 학기보다 빠를 수 없습니다.");
          event.preventDefault(); // submit 방지
          return false;
        }
      });
    });
  </script>
</th:block>

</html>
