<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/myInfo.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/main_page.css}">

  <style>
    .input--box{
         border-color: transparent;
    }

    .card {
         padding-left:20px;
         margin-top:20px;
    }
  </style>
</th:block>
<div layout:fragment="content" class="wrap">
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body px-5 py-5">
        <h1 style="font-weight:600">휴학신청</h1>
        <div class="split--div"></div>
        <form role="form" action="/break/write/new" method="post" enctype="multipart/form-data" name="breakForm">
        <table class="table--container table">
          <input type="hidden" name="memberId" id="memberId" th:value="${member.id}">
            <tr>
              <td><label for="name">이름</label></td>
              <td><input type="text" th:value="${member.name}" id="name" class="input--box" readonly/></td>
            </tr>
            <tr>
              <td><label for="birth">생년월일</label></td>
              <td><input type="text" th:value="${member.birth}" id="birth" class="input--box" readonly/></td>
            </tr>
            <tr>
              <td><label for="address">주소</label></td>
              <td><input type="text" th:value="${member.address}" id="address" class="input--box" readonly/></td>
            </tr>

            <tr>
              <td><label for="phone">전화번호</label></td>
              <td><input type="text" th:value="${member.phone}" id="phone" class="input--box" readonly/></td>
            </tr>
            <tr>
              <td><label for="email">이메일</label></td>
              <td><input type="text" th:value="${member.email}" id="email" class="input--box" readonly/></td>
            </tr>
              <tr>
              <td><label>기간</label></td>
              <td style="display:flex">
                  <select name="fromYear" id="fromYear" style="margin-right:5px;"></select>
                  <select name="fromSemester" style="margin-right:20px;">
                    <option value="1">1학기</option>
                    <option value="2">2학기</option>
                  </select>
                <p style="margin-right:20px; margin-bottom:0; place-content:center;">부터</p>
                <select name="toYear" id="toYear" style="margin-right:5px;"></select>
                <select name="toSemester" style="margin-right:20px;">
                  <option value="1">1학기</option>
                  <option value="2">2학기</option>
                </select>
                <p style="margin-right:20px; margin-bottom:0; place-content:center;">까지</p>
              </td>
              <!--                            th:if="${#authentication.principal.role == 'STUDENT'}"-->
            </tr>
            <tr>
              <td>
                <label th:for="reasonType">휴학구분</label>
              </td>
              <td style="display: flex;">
                <div style="display: flex; margin-right:10px;">
                  <input type="radio" name="reasonType" value="OTHER">&nbsp;일반</input>
                </div>
                <div style="display: flex; margin-right:10px;">
                  <input type="radio" name="reasonType" value="PARENTAL">&nbsp;임신·출산·육아</input>
                </div>
                <div  style="display: flex; margin-right:10px;">
                  <input type="radio" name="reasonType" value="MEDICAL">&nbsp;질병</input>
                </div>
                <div  style="display: flex; margin-right:10px;">
                  <input type="radio" name="reasonType" value="ENTREPRENEURSHIP">&nbsp;창업</input>
                </div>
                <div  style="display: flex; margin-right:10px;">
                  <input type="radio" name="reasonType" value="MILITARY">&nbsp;군입대</input>
                </div>
              </td>
            </tr>
          </table>
          <div style="display:flex; place-content:center;">
            <button type="submit" style="margin-top:50px;" class="btn btn-seoha mb-3">신청</button>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    var message = [[${message}]];
    if(message != null) alert(message);

                var currentFromYear = new Date().getFullYear();
                var selectFromElement = document.getElementById("fromYear");

                // 현재 연도부터 그 이후 2개의 연도까지 옵션 추가
                for (var i = 0; i < 3; i++) {
                    var option = document.createElement("option");
                    option.value = currentFromYear + i;
                    option.textContent = (currentFromYear + i) + "학년도";
                    selectFromElement.appendChild(option);
                }

                var currentToYear = new Date().getFullYear();
                var selectToElement = document.getElementById("toYear");

                // 현재 연도부터 그 이후 2개의 연도까지 옵션 추가
                for (var i = 0; i < 3; i++) {
                    var option = document.createElement("option");
                    option.value = currentToYear + i;
                    option.textContent = (currentToYear + i) + "학년도";
                    selectToElement.appendChild(option);
                }

  </script>
</th:block>

</html>