<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <style>
    #weeklyPlan {
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
    }
    #weeklyPlan.collapse {
        max-height: none; /* 축소되었을 때 요소가 사라지지 않도록 함 */
    }
  </style>
</th:block>

<main layout:fragment="content">
  <div class="card">
    <div class="card-body px-5 py-5">
      <h1>휴학 신청서</h1>
      <div class="split--div" style="margin-bottom:40px;"></div>

      <form name="breaks" th:object="${breaks}" action="/staff/break/create" method="post">
        <input type="hidden" name="break" th:value="*{id}">
        <table class="table--container table">
          <tr>
            <td>학교</td>
            <td>서하대학교</td>
          </tr>
          <tr>
            <td>이름</td>
            <td th:text="${breaks.student.name}"></td>
          </tr>
          <tr>
            <td>학번</td>
            <td th:text="${breaks.student.id}"></td>
          </tr>
          <tr>
            <td>학년</td>
            <td th:text="${breaks.student.grade} + '학년'"></td>
          </tr>
          <tr>
            <td>학과</td>
            <td th:text="${breaks.student.major.title}"></td>
          </tr>
          <tr>
            <td style="min-width:84px;">전화번호</td>
            <td th:text="${breaks.student.phone}"></td>
          </tr>
          <tr>
            <td>주소</td>
            <td th:text="${breaks.student.address}"></td>
          </tr>
          <tr>
            <td>기간</td>
            <td th:text="${breaks.fromYear} + '년도 ' + ${breaks.fromSemester} + '학기 ~ ' + ${breaks.toYear} + '년도 ' + ${breaks.toSemester} + '학기까지'"></td>
          </tr>
          <tr>
            <td>휴학구분</td>
            <td th:text="${breaks.reasonType.getDescription}"></td>
          </tr>
          <tr>
            <td>상태</td>
            <td th:text="${breaks.status.getDescription}"></td>
          </tr>
          <tr>
            <td>신청날짜</td>
            <td th:text="${#temporals.format(breaks.regDate, 'yyyy-MM-dd')}"></td>
          </tr>
        </table>
        <div class="button--container">
          <button class="btn btn-seoha" type="submit" style="margin-right:20px;">승인</button>
          <button class="btn btn-secondary" type="button" onclick="refuse()">반려</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </div>
  </div>
</main>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    var message = [[${message}]];
    if (message != null) alert(message);

     // ★ 헤더에 있는 토큰 값을 가지고 온다. (반드시 같이 전송해야 함)
        var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

        function refuse() {
            $.ajax({
                url: "/staff/refuse/break",
                method: "POST",
                data: { id: $('input[name="break"]').val() },
				beforeSend : function(xhr) {
				    // 데이터를 전송하기 전에 헤더에 csrf 토큰을 설정
				    xhr.setRequestHeader(header, token);
				},
                success: function(res) {
                    alert(res);
                    location.href = "/staffs/break/list";
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });
        }
  </script>
</th:block>
</html>