<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <link rel="stylesheet" th:href="@{/css/memberList.css}">
    <style>
        select {
             margin: 2px;
             width: 33.33%;
        }

        a {
            cursor: pointer;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

        .table {
            width: 100%;
        }

        .table th, .table td {
            overflow: hidden;
        }

        .card {
            padding-left:20px;
            margin-top:20px;
        }

        @media screen and (max-width: 750px) {
            .table th:nth-child(3), /* 등록자 */
            .table td:nth-child(3) {
                display: none;
            }
        }

        @media screen and (max-width: 900px) {
            .table th:nth-child(4), /* 등록일 */
            .table td:nth-child(4),
            .table th:nth-child(5), /* 조회수 */
            .table td:nth-child(5){
                display: none;
            }
        }

        .content {
            word-wrap: break-word; /* 길게 작성된 단어를 줄 바꿈 */
            word-break: keep-all; /* 단어 중간에 줄 바꿈을 하지 않도록 */
        }
    </style>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
    <div class="site-section card">
        <div class="card-body px-5 py-5">
            <h1 style="font-weight:600">공지사항</h1>
            <div class="split--div"></div>
            <div class="row">
                <div class="col-md-12">
                    <form th:action="@{'/notice/rewrite/' + ${notices.number}}"
                          method="get" th:object="${notices}">
                        <table class="table table-responsive-md" style="overflow-x:hidden; text-align:center;">
                            <thead>
                            <tr style="text-align:center;">
                                <th scope="col" style="min-width:62px; width: 10%;">번호</th>
                                <th scope="col" style="min-width:62px; width: 40%;">제목</th>
                                <th scope="col" style="min-width:77px; width: 10%;" class="sName">작성자</th>
                                <th scope="col" style="min-width:77px; width: 10%;">등록일</th>
                                <th scope="col" style="min-width:77px; width: 10%;" class="sName">조회수</th>
                                <th scope="col" style="width: 10%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 조회된 데이터를 출력한다. -->
                            <tr th:each="notice, status: ${notices.getContent()}">
                                <th th:text="${notice.id}" style="text-align:center;"></th>
                                <td style="min-width:225px;"><a class="ellipsis content" th:href="'/notice/detail/'+ ${notice.id}" th:text="${#strings.length(notice.title) > 15 ? #strings.substring(notice.title, 0, 15) + '...' : notice.title}"></a></td>
                                <td th:text="${notice.createdBy.name}" style="text-align:center;" class="sName"></td>
                                <td th:text="${notice.formattedRegTime}" style="text-align:center;  min-width:110px;"></td>
                                <td th:text="${notice.views}" style="text-align:center;" class="sName"></td>
                                <td><button type="button" class="btn btn-seoha"
                                            th:value="${notice.id}" th:onclick="deleteNotice([[${notice.id}]])" style="min-width:56px;">삭제</button></td>

                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination" th:with="start=${(notices.number/maxPage)*maxPage + 1},
                           end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage - 1) < notices.totalPages ? start + (maxPage - 1) : notices.totalPages)})"
                             aria-label="Page navigation example">
                            <ul>
                                <li>
                                    <a href="javascript:goToFirstPage()"><i class="fa-solid fa-angles-left"></i></a>
                                </li>
                                <li th:classappend="${notices.first} ? 'disabled' : ''"
                                    th:attr="onclick=${!notices.first} ? 'location.href=\'/notice/list/' + (${notices.number - 1}) + '?searchBy=' + ${noticeSearchDto.searchBy} + '&searchQuery=' + ${noticeSearchDto.searchQuery} + '\'' : ''">
                                    <a><i class="fa-solid fa-angle-left"></i></a>
                                </li>
                                <li th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${notices.number eq page - 1} ? 'page-active' : 'page'"
                                    th:onclick="'javascript:page(' + (${page - 1}) + ')'">
                                    <a>[[${page}]]</a>
                                </li>
                                <li th:classappend="${notices.last} ? 'disabled' : ''"
                                    th:attr="onclick=${!notices.last} ? 'location.href=\'/notice/list/' + (${notices.number + 1}) + '?searchBy=' + ${noticeSearchDto.searchBy} + '&searchQuery=' + ${noticeSearchDto.searchQuery} + '\'' : ''">
                                    <a><i class="fa-solid fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:goToLastPage()"><i class="fa-solid fa-angles-right"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="row" th:object="${noticeSearchDto}" style="height: 40px; margin: 20px 0;" >
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4" style="display: flex">
                                <!-- 상품 등록일 -->
                                <select class="form-control" th:field="*{searchDateType}" style="margin-right:20px; height:40px;">
                                    <option value="all">전체기간</option>
                                    <option value="1d">1일</option>
                                    <option value="1w">1주</option>
                                    <option value="1m">1개월</option>
                                    <option value="6m">6개월</option>
                                </select>

                                <!-- 상품명, 등록자 선택 -->
                                <select class="form-control" th:field="*{searchBy}" style="height:40px;">
                                    <option value="title">제목</option>
                                    <option value="createdBy">등록자</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <div style="display: flex">
                                    <input type="text" class="form-control" placeholder="검색어 입력" th:field="*{searchQuery}" style="margin-right:20px; margin-top:1px; height:40px;"/>
                                    <button id="searchBtn" type="submit" class="btn btn-seoha mb-3" style="min-width:60px; margin:0 !important; height:40px;">검색</button>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $("#searchBtn").on("click", function(e) {
          e.preventDefault(); //submit 방지
          page(0); //검색 이후엔 검색한 페이지의 시작페이지부터 보여준다.
        });

        function page(page) {
          //입력한 값을 전부 가지고 온다.
          var searchDateType = $("#searchDateType").val();
          var searchBy = $("#searchBy").val();
          var searchQuery = $("#searchQuery").val();

          //주소 이동
          location.href = "/notice/list/" + page
              + "?searchDateType=" + searchDateType
              + "&searchBy=" + searchBy
              + "&searchQuery=" + searchQuery;
        }

        function goToFirstPage() {
            page(0);
        }

        function goToLastPage() {
            var lastPage = [[${notices.totalPages}]] - 1; // 마지막 페이지 번호는 총 페이지 수 - 1
            page(lastPage);
        }

         function clearSearch() {
            document.getElementById('searchQuery').value = '';
        }


         function deleteNotice(noticeId) {
          const deleteConf = confirm("삭제하시겠습니까?");
          if(!deleteConf) return; //취소버튼 누르면

          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");

          //request URL
          var url = "/notice/" + noticeId + "/delete";


          $.ajax({
             url : url, //request URL
             type : "DELETE", //전송방식
             contentType : "application/json",
             beforeSend : function(xhr) {
                //데이터를 전송하기 전에 헤더에 csrf 값을 설정
                xhr.setRequestHeader(header, token);
             },
             dataType : "json",
             cache : false,
             success : function(result, status) {
                location.href = '/notice/list';
             },
             error : function(jqXHR, status, error) {
                if(jqXHR.status == '401') {
                   alert('로그인 후 이용해주세요.');
                   location.href = '/notices/login';
                } else {
                   alert(jqXHR.responseText);
                }
             }
          });
       }
    </script>
</th:block>
</html>