<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/myInfo.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
    <style>
        .card {
              padding-left:20px;
              margin-top:20px;
        }
    </style>
</th:block>
<div layout:fragment="content" class="wrap">
        <div class="card">
            <div class="card-body px-5 py-5">
                <h1 style="font-weight:600">비밀번호 변경</h1>
                <div class="split--div"></div>
                <form name="pwForm" method="post" action="/members/changePw" style="text-align: -webkit-center;">
                    <div>
                        <p style="margin-bottom:30px; min-width:392px;">회원님의 개인정보를 안전하게 보호하고, 도용으로 인한 피해를 예방<br>
                            하기 위해 주기적인 비밀번호 변경을 권장하고 있습니다.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <input type="password" class="form-control in" id="currentPassword" name="currentPassword" required placeholder="현재 비밀번호"/>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <input type="password" class="form-control in" id="newPassword" name="newPassword" required placeholder="새 비밀번호"/>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <input type="password" class="form-control in" id="confirmPassword" name="confirmPassword" required placeholder="비밀번호 확인"/>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <button class="btn solid blank btn-seoha col-md-4" type="submit" style="border-radius: 4px;">
                                수 정
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </div>
        </div>
    </div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var message = [[${message}]];
        if(message != null) alert(message);
    </script>
</th:block>

</html>