<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer" style="margin-bottom:1.5rem;">
   <div style="margin:0 auto;">
       <ul style="display:flex;">
           <li style="list-style-type:none;">개인정보 처리방침 |&nbsp</li>
           <li  style="list-style-type:none;">이메일 무단수집 거부 |&nbsp</li>
           <li  style="list-style-type:none;">찾아오시는 길 |&nbsp</li>
           <li  style="list-style-type:none;">서비스별 연락처</li>
       </ul>
       <span style="margin-left:16px;">(00000) 서울특별시 구로구 경인로 557</span>
   </div>

    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block mt-2" style="margin-left:16px; align-self:center;">COPYRIGHT © SEOHA UNIVERSITY. ALL RIGHT RESERVED.</a></span>
</footer>
</html>