<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <style>
        select {
             margin: 2px;
             width: 33.33%;
        }

        a {
            cursor: pointer;
        }

        .month{
             background-color: #f5f5f5;
             border-bottom: 1px solid #666;
        }

        .line{
            border-bottom: 1px solid #666;
        }

        .container{
            margin-top: 50px;
        }

        @media (min-width: 576px) {
            .container, .container-sm, .container-md {
            max-width: 100%;
            }
        }

        .card {
            padding-left:20px;
            margin-top:20px;
        }

        .content {
            word-wrap: break-word; /* 길게 작성된 단어를 줄 바꿈 */
            word-break: keep-all; /* 단어 중간에 줄 바꿈을 하지 않도록 */
        }

        .table th, .table td {
            padding: 1rem 1rem;
            vertical-align: top;
            border-top: 1px solid #d2d1d1 !important;
        }

        .table td {
            border-bottom: 1px solid #d2d1d1 !important;
        }

        .table thead tr th {
            font-weight:600;
            font-size:14px;
        }
    </style>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
    <div class="card">
        <div class="card-body px-5 py-5">
            <h1 style="font-weight:600">학사일정</h1>
            <div class="split--div"></div>
            <div class="container">
                <table class="table" style="text-align:center;">
                    <thead>
                    <tr class="first--tr">
                        <th style="text-align:center; min-width:70px;">월</th>
                        <th style="text-align:center; min-width:125px;">날짜</th>
                        <th style="text-align:center; min-width:300px;">내용</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="entry : ${schedules}">
                        <tr>
                            <td th:text="${entry.key}" th:rowspan="${entry.value.size}"
                                style="text-align:center; vertical-align:middle;"></td>
                            <td th:text="${#temporals.format(entry.value[0].start, 'MM-dd') + ' ~ ' + #temporals.format(entry.value[0].end, 'MM-dd')}" style="text-align:center;"></td>
                            <!-- Button trigger modal -->
                            <td th:if="${#authentication.principal.role == 'STAFF'}"><a href="#" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${entry.value[0].id}" th:text="${entry.value[0].content}"></a></td>
                            <td th:if="${#authentication.principal.role == 'STUDENT'}" th:text="${entry.value[0].content}"></td>
                            <td class="content" th:if="${#authentication.principal.role == 'PROFESSOR'}" th:text="${entry.value[0].content}"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr th:each="schedule, status : ${entry.value}" th:if="${status.index > 0}">
                            <td th:text="${#temporals.format(schedule.start, 'MM-dd') + ' ~ ' + #temporals.format(schedule.end, 'MM-dd')}" style="text-align:center;"></td>
                            <!-- Button trigger modal -->
                            <td th:if="${#authentication.principal.role == 'STAFF'}"><a href="#" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${schedule.id}" th:text="${schedule.content}"></a></td>
                            <td th:if="${#authentication.principal.role == 'STUDENT'}" th:text="${schedule.content}"></td>
                            <td class="content" th:if="${#authentication.principal.role == 'PROFESSOR'}" th:text="${schedule.content}"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <th:block th:each="entry : ${schedules}">
                    <th:block th:each="schedule : ${entry.value}">
                    <!-- Modal -->
                    <div class="modal fade" th:id="'exampleModal' + ${schedule.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="border:none; justify-content:center;">
                                    <h1 style="font-weight:600; margin-top:20px;">학사일정 상세</h1>
                                </div>
                                <div class="modal-body">
                                    <table class="table--container table">
                                        <tr>
                                            <td>날짜</td>
                                            <td th:text="${#temporals.format(schedule.start, 'yyyy-MM-dd') + ' ~ ' + #temporals.format(schedule.end, 'yyyy-MM-dd')}"></td>
                                        </tr>
                                        <tr>
                                            <td>내용</td>
                                            <td th:text="${schedule.content}"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer" style="border:none;">
                                    <a th:href="@{'/schedule/rewrite/' + ${schedule.id}}" type="button" class="btn btn-seoha">수정</a>
                                    <button type="button" class="btn btn-seoha" th:onclick="'deleteSchedule(' + ${schedule.id} + ')'">삭제</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if (errorMessage != null) alert(errorMessage);

        function deleteSchedule(scheduleId) {
         const deleteConf = confirm("삭제하시겠습니까?");
         if(!deleteConf) return; //취소버튼 누르면

         var token = $("meta[name='_csrf']").attr("content");
         var header = $("meta[name='_csrf_header']").attr("content");

         //request URL
         var url = "/schedule/" + scheduleId + "/delete";


         $.ajax({
            url : url, //request URL
            type : "DELETE", //전송방식
            contentType : "application/json",
            beforeSend : function(xhr) {
               //데이터를 전송하기 전에 헤더에 csrf 값을 설정
               xhr.setRequestHeader(header, token);
            },
            dataType : "json",
            cache : false,
            success : function(result, status) {
               location.href = '/schedule/list';
            },
            error : function(jqXHR, status, error) {
               if(jqXHR.status == '401') {
                  alert('로그인 후 이용해주세요.');
                  location.href = '/members/login';
               } else {
                  alert(jqXHR.responseText);
               }
            }
         });
      }
    </script>
</th:block>
</html>