input::placeholder {
    color: #ACA5A2 !important;
}

input:focus {
    background-color: #232A34 !important; /* 클릭시 변경할 배경색 */
}

input[type="password"] {
    color: white;
}

.in {
    border:4px solid #232A34;
    border-radius:4px;
    background-color:#232A34;
}


