<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Document</title>
   <link rel="stylesheet" th:href="@{/css/main.css}" />
   <link rel="stylesheet" th:href="@{/css/main_page.css}" />
   <link
           rel="stylesheet"
           th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css}"
   />
</head>

<th:block layout:fragment="css">
   <style>
      .main-panel {
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .main--page--notice {
         width: 50%;
      }

      table {
         width: 100%;
      }
   </style>
</th:block>

<body>
<div layout:fragment="content"
     style="width: calc(50vw + 240px);"
>
   <div>
      <img
              alt="학교"
              src="/images/main_bg.jpg"
              class="main--page--img"
              style="margin-top: 70px"
      />
      <div>
         <div class="main--page--div">
            <div class="d-flex">
               <!-- 공지사항 -->
               <div class="main--page--notice">
                  <h3>
                     <a href="/notice">공지사항</a>
                  </h3>
                  <div class="main--page--split"></div>
                  <table>
                     <tr th:each="notice, status: ${notices.getContent()}">
                        <td><a th:href="'/notice/detail/'+ ${notice.id}" th:text="${notice.title}"></a></td>
                        <td th:text="${notice.regDate}"></td>
                     </tr>
                  </table>
               </div>
               <div class="main--page--notice">
                  <h3>
                     <a href="/schedule">학사일정</a>
                  </h3>
                  <div class="main--page--split"></div>
                  <table class="schedule-tb">
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                     <tr>
                        <td>수업수업수업수업수업수업</td>
                        <td>2024-05-23&nbsp;-&nbsp;2024-06-19</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <div>
            <!-- 사용자 간단한 프로필 -->

            <br />
         </div>
      </div>
   </div>
</div>
</body>
</html>